version: 0.16-0 # Updated to the correct standard versioning

go2rtc: # create local streams so dashboard is fast and reduce CPU
  streams:
    wyze_pan_cam_hd:
      - rtsp://admin:Fen5ster@192.168.86.35:8554/unicast
      - "ffmpeg:wyze_pan_cam_hd#audio=aac" # conver audio to AAC to hear and reduce CPU
    wyze_pan_cam_sd:
      - rtsp://admin:Fen5ster@192.168.86.35:8555/unicast
      - "ffmpeg:wyze_pan_cam_sd#audio=aac"
      
mqtt:
  enabled: true
  host: core-mosquitto
  user: mqtt-user
  password: mqtt-password

detectors:
  coral:
    type: edgetpu
    device: usb

ffmpeg:
  hwaccel_args: preset-rpi-64-h264

cameras:
  backyard_cam:
    ffmpeg:
      inputs:
        - path: rtsp://sjamthe:0nly4Tapocam@192.168.86.37:554/stream1
          roles:
            - record
        - path: rtsp://sjamthe:0nly4Tapocam#@192.168.86.37:554/stream2
          roles:
            - detect
    detect:
      enabled: true
      width: 640
      height: 360
      fps: 5
    objects:
      track:
        - person
        - dog
      filters:
        dog:
          threshold: 0.6
    record:
      enabled: true
      retain:
        days: 1
        mode: motion
    snapshots:
      enabled: true

  wyze_pan_cam:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/wyze_pan_cam_sd # Use SD for AI
          roles:
            - detect
        - path: rtsp://127.0.0.1:8554/wyze_pan_cam_hd # Use HD for Recording
          roles:
            - record
    detect:
      enabled: true
      width: 640
      height: 360
      fps: 5
    objects:
      track:
        - person
        - dog
      filters:
        dog:
          threshold: 0.6
    record:
      enabled: true
      retain:
        days: 1
        mode: motion
    snapshots:
      enabled: true
